---
Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type
  -readability-uppercase-literal-suffix

WarningsAsErrors: ''
HeaderFilterRegex: '.*serialcomm_c/.*'
FormatStyle: 'file'
SystemHeaders: false
