---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'

CheckOptions:
  - key:             modernize-use-nodiscard.ReplacementString
    value:           '[[nodiscard]]'
...
